{% extends 'layouts/layout.html' %}

{% block title %}Sobre mi{% endblock %}

{% block content %}

<div class="about">
    <h1 >Sobre mi</h1>


    <p>Mi nombre es Manuel Bello y soy un Full Stack Developer en Santiago de Chile.<br></p>
    <p>Soy licenciando en Administración de empresas graduado en el 2014, he trabajado principalmente en el area de retail, recientemente di un giro en mi profesión y estoy iniciando como full stack developer autodidacta.</p>
    <p>Cuando no estoy en la pc, probando alguna que otra receta nueva, nadando el el gimnasio o andando por Hyrule buscando Korok seeds.</p>
</div>   


{% endblock %}