*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/*estilos header*/

.header {
    width: 100%;
    min-height: 5em;
    
    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header .h1{
    padding-left: 1em;
    font-family: var(--tipo-titular);
    font-size: 2em;
    font-weight: 100;
}

.header .ul{
    display: flex    ;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header li{
    list-style: none;
    margin: 0 1em; 
}

.header a{
    color: rgb(231, 238, 172);
    text-decoration: none;
}

/*fondo*/
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-20deg, rgb(102, 21, 21) 50%, #000 50%);
    bottom:0;
    left:-100%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:7s;
  }
  
  .bg3 {
    animation-duration:8s;
  }
  
 
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

 /*contenido*/
.content{
    width: 90%;
    min-height: 65vh;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
 }

 .content .links {
    display: flex;
    flex-flow: row wrap ;
    justify-content: left;
    align-items:left ;

    animation: aparecer 2s ease 1 both  ;
}

.content .links li{
    margin: 0 1em;
    list-style: none;
    padding-top: 1em;
    padding-bottom: 8em;
}

.content .links a{
    color:rgb(231, 238, 172);
    text-decoration: none;
    font-family: Helvetica;
    font-size: 45px; 
}

.full{
    color: rgb(231, 238, 172);
    font-family: var(--tipo-titular);
    font-weight: 300;
    font-size: 9em;

    animation: aparecer 2s ease 1 both ;
}

footer{
    
    color: #d1d4d69c;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

/*about*/
.about{
    width: 90%;
    min-height: 80vh;
    margin: 0 auto;
    color: rgb(231, 238, 172);


    animation: aparecer 2s ease 1 both ;
}

.about h1{
    font-family: var(--tipo-titular);
    font-size:100px;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 60px;
}

.about p{
    font-size:30px;
    padding-bottom: 20px;
    width: 75%;
}

/* formulario*/
.contactoCompleto{
    width: 60%;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-flow: row;

    animation: aparecer 2s ease 1 both ;
}

.formularioCompleto{
    width: 50%;
    min-width: 300px;
    color: rgb(231, 238, 172);
    display: flex;
    flex-flow: column;
}

.formularioCompleto h1{
    font-family: Helvetica;
    font-size: 45px;
}

.formulario{
    width: 30%;
    height: 100px;
    font-family: Helvetica;
    font-size: 20px;
    text-align: left;
}

.enviar{
    font-family: Helvetica;
    width: 100px;
    border: 3px solid green;
}

.contactame{
    color: rgb(231, 238, 172);
    font-family: Helvetica;
    padding-bottom: 4px;   
}

.contactos{
    width: 50%;
    min-width: 300px;
    padding-top: 40px;
}
.linkContacto li{
    list-style: none;
    padding-top: 10px;
    display: flex;
    justify-content: right;
}
.linkContacto li a{
    text-decoration: none;
    color: rgb(231, 238, 172);
    font-family: Helvetica;
    font-size: 30px;   
}

.messages{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    background-color: lightgreen;
    border: 3px solid lightgreen;
    border-radius: 22px;
    padding: 10px;

    font-family: Helvetica;
    font-size: 20px;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

